<% unless Spree::Config.facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product) %>" />
    <meta property="og:description" content="<%= strip_tags @product.description.gsub("&nbsp;", " ") %>" />
    <% @product.images.each do |img| %>
    <meta property="og:image" content="<%= absolute_image_url(img.attachment.url) %>" />
    <% end  %>
    <meta property="fb:app_id" content="<%= Spree::Config.facebook_app_id %>" />
  <% end %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/<%= I18n.locale %>/sdk.js#xfbml=1&appId=<%= Spree::Config.facebook_app_id %>&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="fb-like" data-href="<%= spree.product_url(@product) %>" data-layout="<%= Spree::Config.facebook_layout %>" data-action="<%= Spree::Config.facebook_verb_to_display %>" data-show-faces="<%= Spree::Config.facebook_show_faces %>" data-share="<%= Spree::Config.facebook_share %>"></div>
<% end %>
